.controlElement{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.numberInput{
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    padding: 2px 2px;
    outline: 0;
    border: none;
    width: 2rem;
    text-align: end;
}

